@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.5;
  /* overflow-y: hidden; */
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar.top {
  background: transparent;
}

.navbar ul {
  display: flex;
}
.navbar a {
  color: #fff;
}
.navbar li {
  padding: 10px 20px;
}

.ez a {
  color: #28a745;
}

.navbar li:hover {
  /* border-bottom: #28a745 2px solid; */
}

.nav_bar--active {
  border-bottom: #28a745 2px solid;
}

.navbar .logo {
  font-weight: 400;
}

.hero {
  background: url(../images//home//showcase.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: white;
  overflow: hidden;
}

.hero .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  /* max-width: 600px; */
  margin: 20px 0 30px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 10;
}

.flex-items {
  display: flex;
  padding: 40px;
  text-align: center;
  align-items: center;
  /* align-self: center; */
  justify-content: center;
}

.flex-items i {
  color: #fff;
  background: #28a745;
  padding: 14px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.icons .flex-items h3 {
  font-weight: 400;
  font-size: 24px;
}

.flex-items p {
  padding: 0 20px;
}

.items {
  display: flex;
  overflow-x: hidden;
}

.items img {
  width: auto;
  /* height: auto; */
  flex-grow: 1;
}

.content-people {
  background: #28a745;
  color: white;
  padding: 35px;
  width: 90%;
  height: auto;
}
.content-people h3 {
  font-size: 35px;
  margin: 20px 0;
}

.content-people .btn {
  display: inline;
  border: #fff 2px solid;
  width: 20%;
}

.content-people p {
  margin-bottom: 50px;
}

.pictures {
  margin: 30px 0;
  text-align: center;
  /* display: flex; */
}

.pictures img {
  width: 20%;
}

.pictures img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.item {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}
.item h3 {
  font-size: 40px;
}

.people {
  display: flex;
  align-items: center;
  justify-content: center;
}

.people img {
  border-radius: 80%;
  width: auto;
  padding: 20px;
}
.people h3 {
  text-align: center;
  margin-bottom: 10px;
}

.context {
  margin: 0 20px;
  text-align: center;
}

.context h3 {
  font-size: 40px;
}

.items {
  margin-top: 20px;
  display: flex;
}

.essa {
  width: 70%;
}

.essa h3 {
  font-size: 30px;
  padding: 30px 0 0 30px;
}

.essa form {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.items img {
  width: auto;
}

.essa input {
  border: none;
  padding: 10px;
  margin: 10px;
  color: rgb(81, 78, 78);
}

.essa a {
  display: flex;
  flex-direction: column;
  /* padding: 20px 30px; */
  /* display: inline-block; */
  /* width: 90%; */
  text-align: center;
  align-items: center;
  align-self: center;

  /* padding: 10px 30px; */
  margin: 0 40px;
}

.footer {
  background: #333;
  height: 230px;
}

.cont {
  align-items: center;
  text-align: center;
  margin-top: 60px;
}

.cont a {
  /* background: #fff; */
  color: #fff;
  padding: 0 30px;
  font-size: 36px;
}

.footer h3 {
  margin-top: 20px;
  color: #fff;
  text-align: center;
}
