/* Text Colors */
.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #28a745;

  align-self: center;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  background-color: #28a745;
  color: #fff;
}

.bg-secondary {
  color: #fff;
  background-color: #0284d0;
}
.btn-secondary {
  color: #fff;
  background: #0284d0;
  border: #fff 2px solid;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}

.btn-light {
  background-color: #f4f4f4;
  color: white;
}

.bg-light {
  background-color: #f4f4f4;
  color: #333;
}
